* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root,
.scroll-trigger
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FE6F5E;
}

.scroll-trigger {
  border: 2px solid black;
  z-index: 10;
}